///////////////////////////////////////////////
// LOGO
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}


///////////////////////////////////////////////
// SEARCH
.search {
  // converting flexbox item into a container
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 0 40%; // take up 40% of flex parent container


  &__input {
    // font stuff not applied so must inherit
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    transition: all .2s; // speed of animaton from focus
    margin-right: -3.25rem; // moves button on to search

    // what happens when clicked or "focused"
    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    // changes placeholder text
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }
  &__icon {
    // format svg icon
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-3); // fills the svg icon color
  }
}

///////////////////////////////////////////////
// USER NAVIGATION
.user-nav {
  // aligns nav flex items to stretch
  align-self: stretch;
  // flexbox stuff
  display: flex;
  align-items: center;

  // selects all children
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    // deeper flex container
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;

    // positioning notification
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    // flex box to center notif number
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user {

  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; // adding space between pic & name
  }

  &__user-name {

  }
}
